<% content_for :sidebar do %>

  <%= render 'products/search' %>

<% end %>

<table class="table table-striped" id="product_index">
  <thead>
  <tr>
    <td></td>
    <th>Name</th>
    <th>Description</th>
    <th>Company</th>
    <th>Number</th>
    <th>Price</th>
    <th>Tags</th>
    <th>Colors</th>
    <th>Sizes</th>
  </tr>
  </thead>
  <tbody>
  <% @products.each do |product| %>

    <tr>
      <td><%= image_tag product.picture.url(:thumb), class: "img-responsive" %></td>
      <td><%= product.name %></td>
      <td><%= product.description %></td>
      <td><%= product.company %></td>
      <td><%= product.count %></td>
      <td><span class="price"><%= product.price.exchange(session[:currency]) %></span>
        <span class='next' style="display:none"><%= product.price.exchange %></span></td>
      <td><%= product.tags.map(&:name).join(', ') %></td>
      <td><%= select_tag "colors", options_from_collection_for_select(product.colors, "id", "name"), readonly: true, class: 'table_select2' %></td>
      <td><%= select_tag "sizes", options_from_collection_for_select(product.sizes, "id", "name"), readonly: true, class: 'table_select2' %></td>
      <td></td>
    </tr>

  <% end %>
  </tbody>
</table>