<% content_for :sidebar do %>

  <%= render 'products/search' %>

<% end %>

<table class="table table-striped" id="product_index">
  <thead>
  <tr>
    <th>Picture</th>
    <th>Name</th>
    <th>Description</th>
    <th>Company</th>
    <th>Number</th>
    <th>Price</th>
    <th>Tags</th>
    <th>Colors</th>
    <th>Sizes</th>
  </tr>
  </thead>
  <tbody>
  <% @products.each do |product| %>

    <tr id="<%= product.id %>">
      <td><%= image_tag product.picture.url(:thumb), class: "img-responsive" %>
      <%= form_tag product_remove_path(product), remote: true do |f| %>
        <%= hidden_field_tag :id, product.id %>
        <%= submit_tag 'Remove', data: { confirm: 'Are you sure?' } %>
      <% end %>
      </td>
      <td><%= product.name %></td>
      <td><%= product.description %></td>
      <td><%= product.company %></td>
      <td><%= product.count %></td>
      <td><span class="price"><%= product.price.exchange(session[:currency]) %></span>
        <span class='next' style="display:none"><%= product.price.exchange %></span></td>
      <td><% product.tag_name_list.each do |tag| %>
        <span class="label"><%= tag %></span>
          <% end %>
      </td>
      <td><%= select_tag "colors", options_from_collection_for_select(product.colors, "id", "name"), readonly: true, class: 'table_select2' %></td>
      <td><%= select_tag "sizes", options_from_collection_for_select(product.sizes, "id", "name"), readonly: true, class: 'table_select2' %></td>
      <td></td>
    </tr>

  <% end %>
  </tbody>
</table>